*第三块背景*/
.panel3{
  color:#11141d;
}

.panel3 .panel3-title{
  padding-bottom:60px;
}
.about_text{
  /*float:left;*/
}
/*图标部分*/
.about_map{
  height:226px;
  background:url(../imgs/about_pic.jpg) no-repeat right -17px;
}
.about{
  width:30px;
  height:200px;
  -webkit-perspective:500px;
  -webkit-perspective-origin:100px -100px;
  -moz-perspective:500px;
  -moz-perspective-origin:100px 100px;
  position:absolute;
  bottom:50px;
}
.about1{
  right:280px;
}
.about2{
  right:225px;
}
.about3{
  right:168px;
}
.about4{
  right:110px;
}
.about5{
  right:50px;
}

.about span{
  display:block;
  width:30px;
  font-size: 14px;
  text-align: center;
  position:absolute;
  bottom:2px;
}

.about p{
  width:30px;
  height:0;
  position:absolute;
  font-size:30px;
  text-align: center;
}
.about1 p:nth-of-type(1),.about2 p:nth-of-type(1),.about3 p:nth-of-type(1),.about4 p:nth-of-type(1),.about5 p:nth-of-type(1){
  height:30px;
  bottom:0;
  -webkit-transform-origin:bottom;
  -webkit-transform:rotateX(90deg);
  -moz-transform-origin:bottom;
  -moz-transform:rotateX(90deg);
}

.about1 p:nth-of-type(2),.about2 p:nth-of-type(2),.about3 p:nth-of-type(2),.about4 p:nth-of-type(2),.about5 p:nth-of-type(2){
  bottom:0;
  left:30px;
  -webkit-transform-origin:left;
  -webkit-transform:rotateY(90deg);
  -moz-transform-origin:left;
  -moz-transform:rotateY(90deg);
}

.about1 p:nth-of-type(3),.about2 p:nth-of-type(3),.about3 p:nth-of-type(3),.about4 p:nth-of-type(3),.about5 p:nth-of-type(3){
  bottom:0;
  left:0;
  z-index:10;
}
.about1 p:nth-of-type(1){
  background:#fffd38;
}
.about1 p:nth-of-type(2){
  background:#cbc800;
}
.about1 p:nth-of-type(3){
  background:#ffff00;
}
.about2 p:nth-of-type(1){
  background:#31c1f5;
}
.about2 p:nth-of-type(2){
  background:#0091cd;
}
.about2 p:nth-of-type(3){
  background:#01b0f1;
}
.about3 p:nth-of-type(1){
  background:#8a5cb6;
}
.about3 p:nth-of-type(2){
  background:#612b81;
}
.about3 p:nth-of-type(3){
  background:#7131a1;
}
.about4 p:nth-of-type(1){
  background:#fa302c;
}
.about4 p:nth-of-type(2){
  background:#ca0300;
}
.about4 p:nth-of-type(3){
  background:#fe0000;
}
.about5 p:nth-of-type(1){
  background:#719ad0;
}
.about5 p:nth-of-type(2){
  background:#416b9d;
}
.about5 p:nth-of-type(3){
  background:#4f81bc;
}

.panel3 .content2{
  padding-top: 50px
}
.panel3 .table>tbody>tr>th{
  width: 88px;
  vertical-align: middle;
}
